/*
1 creazione del testo e formattazione di 1 parola da far ruotare
2 inserimento delle altre 2 parole
3 sovrapporre le 3 parole
4 mostrare 1 parola e nascondere le altre 2
5 animare 1 parola (fadein - fadeout con spostamento)
6 animare le altre 2 parole
7 ritardare progressivamente l'animazione delle altre 2 parole 
*/

body{z-index: 0;
    margin: 0;
    padding: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
main{
    z-index: 1;
    margin: auto;
    width: 100%;
    margin: 0;
    padding:0;
    background: white;
    display: block;
    position: fixed;
    align-items: center;
    text-align: center;
}

#testoAlternato{
    z-index: 2;
    top:150px;
    display: block;
    position: relative; 
    margin: auto;
    width: 60%;
    height: 200px;
    border: 1px solid black;
    text-align: left;
    padding:10% 15% 10% 5%;
    font-size:60px;

}
i{
    color: grey;
}

div #contenitore{
   
    position: relative; 
}
 #i1{ animation-name: animazione_testo_01;
    display: block;
    visibility: hidden;
    position: relative; 
    animation-duration: 4s;
    animation-delay: 0s; 
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    
   } @-webkit-keyframes animazione_testo_01{
    0% {opacity:0;  transform: translate(0,-15px);visibility: visible; }
    5%{opacity: 0.2;  transform: translate(0,-13px);visibility: visible;}
    10%{opacity: 0.4;  transform: translate(0,-11px);visibility: visible;}
    15%{opacity: 0.6;  transform: translate(0,-9px);visibility: visible;}
    20%{opacity: 0.8;  transform: translate(0,-6px);visibility: visible;}
    25%{opacity: 0.9;  transform: translate(0,-3px); visibility: visible;}
    30%{opacity: 1;  transform: translate(0,0px);visibility: visible;}
    35%{opacity: 0;  transform: translate(0,4px); visibility: visible;}
    40%{opacity: 0;  transform: translate(0,6px); visibility: visible;}
    45%{opacity: 0;  transform: translate(0,8px); visibility: visible;}
    50%{opacity: 0;  transform: translate(0,10px);visibility: visible; }
    55%{opacity: 0;  transform: translate(0,+12px); visibility: visible;}
    60%{opacity: 0;  transform: translate(0,+13px); visibility: visible;}
    65%{opacity: 0;  transform: translate(0,+14px);visibility: visible;}
    70%{opacity: 0;  transform: translate(0,+15px); visibility: visible;}
    75%{opacity: 0;  transform: translate(0,+16px); visibility: visible;}
    80%{opacity: 0;  transform: translate(0,+17px); visibility: visible;}
    85%{opacity: 0;  transform: translate(0,+19px);visibility: visible;}
    90%{opacity: 0;  transform: translate(0,+24px); visibility: visible;}
    95%{opacity: 0;  transform: translate(0,+27px);visibility: visible;}
    100% {opacity: 0; transform: translate(0,+30px);visibility: visible; }
   }
#i2{animation-name: animazione_testo_02;
    display:block;
    visibility: hidden;
    position: relative; 
    top:-60px;
    animation-duration: 4s;
    animation-delay: 1.33s; 
    animation-iteration-count:infinite;
    animation-timing-function: ease;
} @-webkit-keyframes animazione_testo_02{
    0% {opacity:0;  transform: translate(0,-15px);visibility: visible; }
    5%{opacity: 0.2;  transform: translate(0,-13px); visibility: visible;}
    10%{opacity: 0.4;  transform: translate(0,-11px); visibility: visible;}
    15%{opacity: 0.6;  transform: translate(0,-9px);visibility: visible;}
    20%{opacity: 0.8;  transform: translate(0,-6px); visibility: visible;}
    25%{opacity: 0.9;  transform: translate(0,-3px); visibility: visible;}
    30%{opacity: 1;  transform: translate(0,0px); visibility: visible;}
    35%{opacity: 0;  transform: translate(0,4px); visibility: visible;}
    40%{opacity: 0;  transform: translate(0,6px); visibility: visible;}
    45%{opacity: 0;  transform: translate(0,8px); visibility: visible;}
    50%{opacity: 0;  transform: translate(0,10px);visibility: visible; }
    55%{opacity: 0;  transform: translate(0,+12px); visibility: visible;}
    60%{opacity: 0;  transform: translate(0,+13px);visibility: visible;}
    65%{opacity: 0;  transform: translate(0,+14px); visibility: visible;}
    70%{opacity: 0;  transform: translate(0,+15px); visibility: visible;}
    75%{opacity: 0;  transform: translate(0,+16px); visibility: visible;}
    80%{opacity: 0;  transform: translate(0,+17px);visibility: visible;}
    85%{opacity: 0;  transform: translate(0,+19px);visibility: visible;}
    90%{opacity: 0;  transform: translate(0,+24px);visibility: visible;}
    95%{opacity: 0;  transform: translate(0,+27px);visibility:  visible;}
    100% {opacity: 0; transform: translate(0,+30px);visibility:  visible; }
   }
#i3{animation-name: animazione_testo_03;
    display: block;
    visibility: hidden;
    position: relative; 
    top: -120px;
    animation-duration: 4s;
    animation-delay: 2.66s; 
    animation-iteration-count: infinite;
    animation-timing-function: ease;
} @-webkit-keyframes animazione_testo_03{
    0% {opacity:0;  transform: translate(0,-15px);visibility: visible; }
    5%{opacity: 0.2;  transform: translate(0,-13px); visibility: visible;}
    10%{opacity: 0.4;  transform: translate(0,-11px); visibility: visible;}
    15%{opacity: 0.6;  transform: translate(0,-9px); visibility: visible;}
    20%{opacity: 0.8;  transform: translate(0,-6px);visibility: visible;}
    25%{opacity: 0.9;  transform: translate(0,-3px); visibility: visible;}
    30%{opacity: 1;  transform: translate(0,0px); visibility: visible;}
    35%{opacity: 0;  transform: translate(0,4px); visibility: visible;}
    40%{opacity: 0;  transform: translate(0,6px); visibility: visible;}
    45%{opacity: 0;  transform: translate(0,8px); visibility: visible;}
    50%{opacity: 0;  transform: translate(0,10px);visibility: visible; }
    55%{opacity: 0;  transform: translate(0,+12px); visibility: visible;}
    60%{opacity: 0;  transform: translate(0,+13px); visibility: visible;}
    65%{opacity: 0;  transform: translate(0,+14px); visibility: visible;}
    70%{opacity: 0;  transform: translate(0,+15px); visibility: visible;}
    75%{opacity: 0;  transform: translate(0,+16px);visibility: visible;}
    80%{opacity: 0;  transform: translate(0,+17px); visibility: visible;}
    85%{opacity: 0;  transform: translate(0,+19px); visibility: visible;}
    90%{opacity: 0;  transform: translate(0,+24px);visibility: visible;}
    95%{opacity: 0;  transform: translate(0,+27px); visibility: visible;}
    100% {opacity: 0; transform: translate(0,+30px);visibility: visible; }
   }

