/* Your styles here */
.body{
    color:#393d41 ;
    font-size: 1.2rem ;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.65 ;
    align-items: center;
    justify-content: center;
}    
.logo{
    background-color: black;
    padding-left: 5%;
}
.logoimg {
    padding-top: 6%;
    padding-bottom: 6%;
}

.bannerjpg {
    background-image: url(../banner.jpg);
    background-size:120% 100%;
    margin-left: -25%;
    
}

.innerbanner {
    
    text-align: center;
    margin-left:28%;
    margin-right:9%;
    font-size:3rem;
   
}
.divh1{
    padding-top:11%;
    margin-left:31% ;
    margin-right:20% ;
    text-decoration: bold;
}
.divp {
font-size: 2.5rem;
font-family: 'Open Sans', sans-serif;
}

.h1 {
 font-size: 4rem;
 font-weight: 700;
 line-height: normal;
}

.headings {
    color: #25a2c3;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    
}

.a{
padding-bottom:7%;
padding-top:7%;
}
 

.buttonpartiamo {
    background-color: #F04C2F; 
    border-radius: 5%;
    border: none;
    color:white;
    font:bold;
    font-size:1.5rem;
    text-decoration: none;
    padding: 2.5% 10% 2.5% 10%;   
    transition: 0.8s;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.buttonpartiamo:hover {
    background-color:white;
    color: #F04C2F;
    border-radius: 5%;
    border: none;
    font:bold;
    font-size:1.5rem;
    text-decoration: none;
    padding: 2.5% 10% 2.5% 10%;  
}
 
.notebook1 {
    margin:10%;
}

.notebook {
    background-image: url(../notebook.jpg);
    object-fit: cover;
    border-radius: 50%;
    height: 30%;
    width: 30%;
    display: block;
    float:left;
}

.quattroh3{
    text-align: center;
    background-color: white;
    font-size: 0.8rem;
    margin-top:10%;
    margin-bottom:10%;
    }
    
    .h3{
        padding:2%;
        font-weight: 700;
    }

.divrosso {
background-color: red;
padding: 10% 0% 10% 0%;
}

.dentrorosso {
text-align: center;
color:white;
font-size: 0.8rem;
line-height: normal;
}

#acca1 {
    color: white;
}

#italic {
    font-style: italic;
    padding:1%;
}

.divgigante {
    padding:20px;
    background-color: white;
   display: flex;
   justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.divmenogigante {
    width: min(1200px, 100%);
    padding:20px;
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    cursor: pointer;
}

.foto {
   width: calc(25% - 10px);
   overflow:hidden ;
   

}

.fotouno {
    width: 100%;
    border-radius: 6px;
    transition: .3s linear;
    padding:10px;
    
}

.treh3{
    background-color: white;
    margin:0 20px;
    padding: 20px;
    border-radius: 6px;
    transform:translateY(-60px) ;
    transition: .3s linear;
    border: solid 1px grey;
    text-align: center;
}
.treh3 h3 {
    font-size: 16px;
    margin-bottom: 10px;
    color: #25a2c3;
    font-weight: 700;

}

 .foto:hover  .fotouno {
transform: translateY(20px);

           }
            
.foto:hover  .treh3 {
transform: translateY(-80px);
            
}

.footer {
    background-color: #25a2c3;
    color:#c8e7f0;
    text-align: center;
    
}

.footerino {
    padding:auto;
    font-size: 1rem;
    color:#c8e7f0;
    text-align: center;
    margin:auto;
    width:15%
    
}
#accauno {
    color:white;
    padding:1%;
    font-size: 3rem;
    font-weight: 700;
    line-height: normal;
}

.lastbutnotleast {
    margin-bottom: 10%;
}