.giallo{
    width:fit-content;
    height:fit-content;
    background-color: pink;
    color: black;
    font-weight: bold;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
p{
  color: pink;
}
