Nav.wheat {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  background: wheat;
  margin-top: 1%;
}
Nav.wheat img {
  max-width: 200px;
  justify-content: flex-start;
}
Nav.wheat ul {
  display: flex;
  align-items: flex-end;
  list-style-type: none;
  align-items: center;
}
Nav.wheat ul li {
  padding: 10px;
  list-style-type: none;
  font-size: 24px;
  background-color: wheat;
  margin-left: 1px;
}
Nav.wheat a {
  text-decoration: none;
}
Nav.wheat:hover {
  color: wheat;
  background: white;
  box-shadow: none;
}

Nav.blue {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  background: blue;
  margin-top: 1%;
}
Nav.blue img {
  max-width: 200px;
  justify-content: flex-start;
}
Nav.blue ul {
  display: flex;
  align-items: flex-end;
  list-style-type: none;
  align-items: center;
}
Nav.blue ul li {
  padding: 10px;
  list-style-type: none;
  font-size: 24px;
  background-color: blue;
  margin-left: 1px;
}
Nav.blue a {
  text-decoration: none;
}
Nav.blue:hover {
  color: blue;
  background: white;
  box-shadow: none;
}

Nav.orange {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  background: orange;
  margin-top: 1%;
}
Nav.orange img {
  max-width: 200px;
  justify-content: flex-start;
}
Nav.orange ul {
  display: flex;
  align-items: flex-end;
  list-style-type: none;
  align-items: center;
}
Nav.orange ul li {
  padding: 10px;
  list-style-type: none;
  font-size: 24px;
  background-color: orange;
  margin-left: 1px;
}
Nav.orange a {
  text-decoration: none;
}
Nav.orange:hover {
  color: orange;
  background: white;
  box-shadow: none;
}

Nav.red {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  background: red;
  margin-top: 1%;
}
Nav.red img {
  max-width: 200px;
  justify-content: flex-start;
}
Nav.red ul {
  display: flex;
  align-items: flex-end;
  list-style-type: none;
  align-items: center;
}
Nav.red ul li {
  padding: 10px;
  list-style-type: none;
  font-size: 24px;
  background-color: red;
  margin-left: 1px;
}
Nav.red a {
  text-decoration: none;
}
Nav.red:hover {
  color: red;
  background: white;
  box-shadow: none;
}

Nav.lightblue {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  background: lightblue;
  margin-top: 1%;
}
Nav.lightblue img {
  max-width: 200px;
  justify-content: flex-start;
}
Nav.lightblue ul {
  display: flex;
  align-items: flex-end;
  list-style-type: none;
  align-items: center;
}
Nav.lightblue ul li {
  padding: 10px;
  list-style-type: none;
  font-size: 24px;
  background-color: lightblue;
  margin-left: 1px;
}
Nav.lightblue a {
  text-decoration: none;
}
Nav.lightblue:hover {
  color: lightblue;
  background: white;
  box-shadow: none;
}

Main.wheat {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  background: wheat;
  margin-top: 1%;
}
Main.wheat img {
  max-width: 200px;
  justify-content: flex-start;
}
Main.wheat ul {
  display: flex;
  align-items: flex-end;
  list-style-type: none;
  align-items: center;
}
Main.wheat ul li {
  padding: 10px;
  list-style-type: none;
  font-size: 24px;
  background-color: wheat;
  margin-left: 1px;
}
Main.wheat a {
  text-decoration: none;
}
Main.wheat:hover {
  color: wheat;
  background: white;
  box-shadow: none;
}

Main.blue {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  background: blue;
  margin-top: 1%;
}
Main.blue img {
  max-width: 200px;
  justify-content: flex-start;
}
Main.blue ul {
  display: flex;
  align-items: flex-end;
  list-style-type: none;
  align-items: center;
}
Main.blue ul li {
  padding: 10px;
  list-style-type: none;
  font-size: 24px;
  background-color: blue;
  margin-left: 1px;
}
Main.blue a {
  text-decoration: none;
}
Main.blue:hover {
  color: blue;
  background: white;
  box-shadow: none;
}

Main.orange {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  background: orange;
  margin-top: 1%;
}
Main.orange img {
  max-width: 200px;
  justify-content: flex-start;
}
Main.orange ul {
  display: flex;
  align-items: flex-end;
  list-style-type: none;
  align-items: center;
}
Main.orange ul li {
  padding: 10px;
  list-style-type: none;
  font-size: 24px;
  background-color: orange;
  margin-left: 1px;
}
Main.orange a {
  text-decoration: none;
}
Main.orange:hover {
  color: orange;
  background: white;
  box-shadow: none;
}

Main.red {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  background: red;
  margin-top: 1%;
}
Main.red img {
  max-width: 200px;
  justify-content: flex-start;
}
Main.red ul {
  display: flex;
  align-items: flex-end;
  list-style-type: none;
  align-items: center;
}
Main.red ul li {
  padding: 10px;
  list-style-type: none;
  font-size: 24px;
  background-color: red;
  margin-left: 1px;
}
Main.red a {
  text-decoration: none;
}
Main.red:hover {
  color: red;
  background: white;
  box-shadow: none;
}

Main.lightblue {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  background: lightblue;
  margin-top: 1%;
}
Main.lightblue img {
  max-width: 200px;
  justify-content: flex-start;
}
Main.lightblue ul {
  display: flex;
  align-items: flex-end;
  list-style-type: none;
  align-items: center;
}
Main.lightblue ul li {
  padding: 10px;
  list-style-type: none;
  font-size: 24px;
  background-color: lightblue;
  margin-left: 1px;
}
Main.lightblue a {
  text-decoration: none;
}
Main.lightblue:hover {
  color: lightblue;
  background: white;
  box-shadow: none;
}

Footer.wheat {
  margin-top: 2%;
  display: flex;
  padding: 10px;
  align-items: center;
  text-align: center;
  background: wheat;
  height: 80px;
}
Footer.wheat p {
  margin: auto;
}
Footer.wheat:hover {
  background: white;
  color: black;
}

Footer.blue {
  margin-top: 2%;
  display: flex;
  padding: 10px;
  align-items: center;
  text-align: center;
  background: blue;
  height: 80px;
}
Footer.blue p {
  margin: auto;
}
Footer.blue:hover {
  background: white;
  color: black;
}

Footer.orange {
  margin-top: 2%;
  display: flex;
  padding: 10px;
  align-items: center;
  text-align: center;
  background: orange;
  height: 80px;
}
Footer.orange p {
  margin: auto;
}
Footer.orange:hover {
  background: white;
  color: black;
}

Footer.red {
  margin-top: 2%;
  display: flex;
  padding: 10px;
  align-items: center;
  text-align: center;
  background: red;
  height: 80px;
}
Footer.red p {
  margin: auto;
}
Footer.red:hover {
  background: white;
  color: black;
}

Footer.lightblue {
  margin-top: 2%;
  display: flex;
  padding: 10px;
  align-items: center;
  text-align: center;
  background: lightblue;
  height: 80px;
}
Footer.lightblue p {
  margin: auto;
}
Footer.lightblue:hover {
  background: white;
  color: black;
}/*# sourceMappingURL=wau-facebook.css.map */