@import 'variables';
@import 'media-queries';
@import 'for';

@mixin Nav($bgColor) {
    display:flex ;
    padding:10px;
    justify-content: space-between;
    align-items: center;
    background:$bgColor;
    margin-top: 1%;
    img{
        max-width: 200px;
        justify-content: flex-start;
    };
    ul{
        display: flex;
        align-items:flex-end;
        list-style-type: none;
        align-items: center;
    }
    ul li{
    padding:10px;
    list-style-type: none;
    font-size: 24px;
    background-color: $bgColor;
    margin-left: 1px;}
 a{
    text-decoration: none;
 }

    &:hover {
        color: $bgColor;
        background: white;
        box-shadow:  none;
    }

}
    
    
    
    Nav.wheat{
        @include Nav(wheat);
    
    }
    Nav.blue{
        @include Nav(blue)
    }
     Nav.orange{
        @include Nav(orange)
    }
     Nav.red{
        @include Nav(red)
    }
    Nav.lightblue{
        @include Nav(lightblue)
    }
   
    @mixin Main($bgColr) {
       
        display:flex ;
        padding:10px;
        align-items: center;
        background:$bgColr;
        padding: 50px;
       
       span.bobo{
        color: $ciao;
       }
        ul{
            list-style-type: none;
          
        }
        ul li{
        padding:10px;
        list-style-type: none;
        font-size: 24px;
        background-color: $bgColr;
        margin-left: 1px;}
     a{
        text-decoration: none;
     }
    
        &:hover {
            background: white;
        }
    
    }

    Main.wheat{
        @include Nav(wheat);
    
    }
    Main.blue{
        @include Nav(blue)
    }
     Main.orange{
        @include Nav(orange)
    }
     Main.red{
        @include Nav(red)
    }
    Main.lightblue{
        @include Nav(lightblue)
    }

    @mixin Footer($bgColr) {
        margin-top: 2%;
        display: flex;
        padding:10px;
        align-items: center;
        text-align: center;
        background:$bgColr;
        height: 70px;
    
        p{

            margin:auto
        }
        .wewe{
            display: block;
        }
        ul li{
            padding:10px;
            list-style-type: none;
            font-size: 24px;
            background-color: $bgColr;
            margin-left: 1px;
            &:hover {
                background: white;
                color: black;
            }
        
        }
        a{
            text-decoration: none;
         }
         a{
            text-decoration: none;
         }
        
            &:hover {
                background: white;
            }

        &:hover {
            background: white;
            color: black;
        }
    
    }

    Footer.wheat{
        @include Footer(wheat);
    
    }
    Footer.blue{
        @include Footer(blue)
    }
     Footer.orange{
        @include Footer(orange)
    }
     Footer.red{
        @include Footer(red)
    }
    Footer.lightblue{
        @include Footer(lightblue)
    }