@function perDue($fontSize){
@return $fontSize*2
}
;

@function perUnoeMezzo($fontSize){
    @return $fontSize*1.5
    }
    ;

    

   @mixin textColor($svg,$svgValue){
        background-color: $svg;
        @if $svgValue >= 5%{
          color: #fff
        }@else{
            color: #000
        }
    }

    //mi si è annebbiata la mente, non riesco a testare questa funzione, ma penso che funziona
    @function textColor1($svg,$svgValue){
       
        @if( $svgValue >= 5%){
          $neroCambiabile: #fff;
          $svg: darken(#f5f5f5,$svgValue);
        }
    }
    
/*Se scrivo così, mi da errore :*/
